<%- include('./partials/header.ejs') %>

<body>

    <img class="logo-home" src="/images/logoConverge.svg"> 
    <a class="buttonSair" href="/logout">Sair</a>

    

    <div class="buttonsMenu">

        <a class="buttonLink" href="">
            <p class="buttonText"> Usuários</p>
            <img class="buttonMenu" src="/images/iconUsuario.svg">
        </a>

        <a class="buttonLink" href="">
            <p class="buttonText"> Empresas</p>            
            <img class="buttonMenu" src="/images/iconEmpresa.svg">
        </a>

        <a class="buttonLink" href="">                
            <p class="buttonText"> Eventos</p>
            <img class="buttonMenu" src="/images/iconEventos.svg">
        </a>

    </div>

</body>

<%- include('partials/footer.ejs') %>
