<%- include('./partials/header.ejs') %>

<body>


        <div class="logo_login">
            <img src="/images/logoConverge.svg" alt="logotipo" >

            <h3 class="slogan">CRM Na Medida Certa</h3>
            <div class="card" mt-5>
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form action="/authenticate" method="POST">
                        <input class="form-control" name="email" placeholder="e-mail" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" ><br>
                        <input class="form-control" name="senha" type="password" placeholder="senha" required minlength="8"><br>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
    
        <div>

</body>

<%- include('partials/footer.ejs') %>
