body {

}

.logo_login {
    display: block;
    width: 20rem; 
    margin: auto; 
    margin-top: 4rem;
}


.card {
    margin-top: 3rem;
    border-radius: 5%;
}

.slogan{
    text-align: center;
}


.logo-home {
    display: inline-block;
    font-size: inherit;
    height: 3rem;
    margin: 0.5rem 0 0 1rem;
}

/* alterações cor navbar*/
         
       .navbar-custom {
        background-color: #707070;
    }
        
    a.nav-link{
        color:#ffffff;
        } 

    a.nav-link:hover {
        color:#ff9900;
    }
